.main-content {
  flex: 1;
  padding-top: 80px;
  padding: calc(80px + 2rem) 2rem 2rem 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}